
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Experiment Complete</h2>
        <hr />
        <p>
            Thank you for participating in this study that looked at how being reminded of financial worry affects subsequent cognitive function. Recent evidence suggests that when we worry about money, it affects the way we process information and make decisions.
        </p>
        <p>
            This experiment tested the idea that being primed with an initial financial task (versus a non-financial task) would lead to slower and less accurate response times on the subsequent counting and sequence tasks. In the final analysis we will also look at whether this effect is related to things like personality, community, actual financial situation, and mood.
        </p>
        <p>
            For people experiencing economic hardship or spending a lot of their time worrying about money this could mean they are more prone to making decisions that hinder long-term goals. If we can understand this mental bias then we can design interventions and policy to accommodate and help promote better decision-making.
        </p>
        <p>
            Thanks again for you time in participating in this study, it is much appreciated. If you have any further questions or comments please contact the experimenter (Shannon) at <a href="mailto:moneymanagementstudy@gmail.com">moneymanagementstudy@gmail.com</a>.
        </p>
    </div>
</div>