
<div class="text-center">
    <h1 class="text-uppercase">Task 1: Counting task</h1>
    <hr />
    @Html.ActionLink("Continue >>", "CountingTaskInstructions", new { id = ViewBag.Pid }, new { @class = "btn btn-lg btn-default" })
</div>
