

<div class="text-center">
    <h2>You have now completed the counting task</h2>
    <hr />
    @Html.ActionLink("Click here to continue to the next task", "Memory", new { id = ViewBag.Pid }, new { @class = "btn btn-default btn-lg" })
</div>
