<div class="text-center">
    <h1 class="text-uppercase">Task 2: Memory task</h1>
    <hr />
    @Html.ActionLink("Continue >>", "MemoryTaskInstructions", new { id = ViewBag.Pid }, new { @class = "btn btn-lg btn-default" })
</div>