

<div class="text-center">
    <h2>You have now completed the memory task</h2>
    <hr />
    @Html.ActionLink("Click here to continue", "Sequence", new { id = ViewBag.Pid }, new { @class = "btn btn-default btn-lg" })
</div>


