<div class="text-center">
    <h3>You are now ready to move onto the actual lists. Remember to pay attention to the changing categories.</h3>
    <hr />
    @Html.ActionLink("Continue >>", "MemoryTask", new { id = ViewBag.Pid }, new { @class = "btn btn-lg btn-default" })
</div>