

<div class="text-center">
    <h2>You have now completed the sequence task</h2>
    <hr />
    @Html.ActionLink("Click here to continue to the questionnaires", "FollowUp", "Questions", new {  id = ViewBag.Pid }, new { @class = "btn btn-default btn-lg" })
</div>



